@model IEnumerable<PERSTAT.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h1>All Current Assignments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.People)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.People.NameFirst) 
                @Html.DisplayFor(modelItem => item.People.NameLast)
            </td>
            <td>
                <a asp-action ="GetPeopleByMission" asp-controller="Assignment" asp-route-id="@item.MissionId">
                @Html.DisplayFor(modelItem => item.Mission.MissionTitle)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationCity), 
                @Html.DisplayFor(modelItem => item.Location.LocationDetail)
            </td>
            <td>
                           
                <a asp-action="Delete" asp-route-id="@item.AssignmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
