@model IEnumerable<PERSTAT.Models.Locations>

@{
    ViewData["Title"] = "Index";
}

<h1>Locations</h1>

<p>
    <a asp-action="Create">Add a New Location</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationDetail)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                <a asp-action="Index" asp-controller="Counties">Manage Counties</a>
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.State.StateShort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County.CountyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a>
                ||
                <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
